1. Which among the following options can be used to create a DataFrame in Pandas?
     
     A) An ndarray B) a python dictionary
     C) A scalar value D) All of the

     Sol    D) All of the

2. A series is a one-dimensional array which is labelled and can hold any data type.
  
  A) True B) False
  
  True

3. Which of the following operation works with the same syntax as the analogous dictionary operations?

A) Getting columns B) setting columns
C) deleting columns D) All of the above

All of the above(Explanation: You can treat a DataFrame semantically like a dict of like-indexed Series objects.)

4. pandas.NA = = pandas.NA, will give which of the following result?

A) <NA> B) True

C) False D) Error

ANS: D) Error

5. A panel is a ______ container of data in pandas?

A) 1 dimensional B) 2 dimensional


C) 3 dimensional D) infinite dimensions

ANS: C) 3 dimensional

6. What will be the output of the following lines of code?
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))

print(s.ndim)

A) Error B) 3

C) 2 D) 1


ANS: 1

7. Which of the following indexing capabilities is used as a concise means of selecting data from a pandas object??

   A) in B) iy
   C) ix D) ipy

   ANS:  C) ix  ( xplanation: ix and reindex are 100% equivalent.)

8. All pandas data structures are ___ mutable but not always _______mutable.
   
    A) size, value B) value, size
    C) semantic, size D) None of these
    
    ANS: B) value, size

10. Which of the following file formats are allowed for input output in pandas?
   
    A) JSON B) HTML
    C) CSV D) TXT
    
    ANS:C) CSV

In [2]:
##11. Write a Pandas program to create and display a DataFrame from the following dictionary data and labels:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X']

df = pd.DataFrame(exam_data , index=labels)
print(df)

           name  score  attempts qualify
I     Anastasia   12.5         1     yes
II         Dima    9.0         3      no
III   Katherine   16.5         2     yes
IV        James    NaN         3      no
V         Emily    9.0         2      no
VI      Michael   20.0         3     yes
VII     Matthew   14.5         1     yes
VIII      Laura    NaN         1      no
IX        Kevin    8.0         2      no
X         Jonas   19.0         1     yes

In [5]:
##12. Write a Pandas program to get the first 5 rows of the DataFrame created in Q11.

print(df.iloc[:5])

          name  score  attempts qualify
I    Anastasia   12.5         1     yes
II        Dima    9.0         3      no
III  Katherine   16.5         2     yes
IV       James    NaN         3      no
V        Emily    9.0         2      no

In [11]:
##13. Write a Pandas program to select the 'name' and 'score' columns of the DataFrame created in Q11.
print(df[["name","score"]])

           name  score
I     Anastasia   12.5
II         Dima    9.0
III   Katherine   16.5
IV        James    NaN
V         Emily    9.0
VI      Michael   20.0
VII     Matthew   14.5
VIII      Laura    NaN
IX        Kevin    8.0
X         Jonas   19.0

In [16]:
##14. Write a Pandas program to select 'name' and 'score' columns in row indexes 3, 5, 6, 8 from the DataFrame created in Q11.
print(df.iloc[[3, 5, 6, 8], [1, 0]])

     score     name
IV     NaN    James
VI    20.0  Michael
VII   14.5  Matthew
IX     8.0    Kevin

In [12]:
##15. Write a Pandas program to select the rows where the score is between 15 and 20 (inclusive) from the DataFrame created in Q11.
print(df[df['score'].between(15, 20)])

          name  score  attempts qualify
III  Katherine   16.5         2     yes
VI     Michael   20.0         3     yes
X        Jonas   19.0         1     yes